body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

}

.admonition-title {
  font-size: 1.1rem;
  font-weight: bold;
}

div[class*="language-ad-"] .admonition-title::before,
div[class*="callout-"] .admonition-title::before {
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-right: 10px;
}

div[class*="language-ad-"],
div[class*="callout-"] {
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
    border-radius: 6px;
    display: block;
    font-size: 1rem;
    margin-top: 1rem;
    outline-color: rgb(230, 230, 230);
    padding: 1rem;
    position: relative;
    transition: height .5s ease-in, opacity .5s ease-in;
    word-break: break-word;
    white-space: normal !important;
}


.markdown-preview-view pre.mermaid {
    background: var(--background-primary);
    border-radius: 25px;
    padding: 10px;
}

/***
div.language-ad-tip,
div.callout-tip {
    .admonition-title::before {
        content: "";
        background-image: url(~lucide-static/icons/home.svg);
    }
}

div.language-ad-warning,
div.callout-warning {
    .admonition-title::before {
        content: "⚠️";
    }
}

div.language-ad-important,
div.callout-important {
    .admonition-title::before {
        content: "❗️";
    }
}

div.language-ad-caution,
div.callout-caution {
    .admonition-title::before {
        content: "⚠️";
    }
}

div.language-ad-info,
div.callout-info {
    .admonition-title::before {
        content: "ℹ";
    }
}

div.language-ad-example,
div.callout-example {
    .admonition-title::before {
        content: "🗒️";
    }
}

div.language-ad-seealso,
div.callout-seealso {
    .admonition-title::before {
        content: "🖊️";
    }
}

div.language-ad-abstract,
div.callout-abstract {
    .admonition-title::before {
        content: '📚'
    }
}

div.language-ad-summary,
div.callout-summary {
    .admonition-title::before {
        content: '📚'
    }
}

div.language-ad-tldr,
div.callout-tldr {
    .admonition-title::before {
        content: '📚'
    }
}

div.language-ad-todo,
div.callout-todo {
    .admonition-title::before {
        content: '☑️'
    }
}

div.language-ad-hint,
div.callout-hint {
    .admonition-title::before {
        content: '🔥'
    }
}

div.language-ad-success,
div.callout-success {
    .admonition-title::before {
        content: ✅
    }
}

div.language-ad-check,
div.callout-check {
    .admonition-title::before {
        content: '✅'
    }
}

div.language-ad-done,
div.callout-done {
    .admonition-title::before {
        content: '✅'
    }
}

div.language-ad-question,
div.callout-question {
    .admonition-title::before {
        content: '❓'
    }
}

div.language-ad-help,
div.callout-help {
    .admonition-title::before {
        content: '❓'
    }
}

div.language-ad-faq,
div.callout-faq {
    .admonition-title::before {
        content: '❓'
    }
}

div.language-ad-attention,
div.callout-attention {
    .admonition-title::before {
        content: '⚠️'
    }
}

div.language-ad-failure,
div.callout-failure {
    .admonition-title::before {
        content: '❌'
    }
}

div.language-ad-fail,
div.callout-fail {
    .admonition-title::before {
        content: '❌'
    }
}

div.language-ad-missing,
div.callout-missing {
    .admonition-title::before {
        content: '❌'
    }
}

div.language-ad-danger,
div.callout-danger {
    .admonition-title::before {
        content: '⚡'
    }
}

div.language-ad-error,
div.callout-error {
    .admonition-title::before {
        content: '⚡'
    }
}

div.language-ad-bug,
div.callout-bug {
    .admonition-title::before {
        content: '🐞'
    }
}

div.language-ad-quote,
div.callout-quote {
    .admonition-title::before {
        content: '💬'
    }
}

div.language-ad-cite,
div.callout-cite {
    .admonition-title::before {
        content: '💬'
    }
}

***/
