body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.markdown-preview-view pre.mermaid {
    background: var(--background-primary);
    border-radius: 25px;
    padding: 10px;
}


div.language-ad-tip,
div.callout-tip {
    .admonition-title::before {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-2.8-5.6-5.6-11.2-9.8-16.8l-50.6 58.8s-81.4-103.6-87.1-110.6C133.1 243.8 112 273.2 112 306.8C112 375.4 162.6 416 225.7 416z'/></svg>"); 
    }
}


/***

div.language-ad-warning,
div.callout-warning {
    .admonition-title::before {
        content: "⚠️";
    }
}

div.language-ad-important,
div.callout-important {
    .admonition-title::before {
        content: "❗️";
    }
}

div.language-ad-caution,
div.callout-caution {
    .admonition-title::before {
        content: "⚠️";
    }
}

div.language-ad-info,
div.callout-info {
    .admonition-title::before {
        content: "ℹ";
    }
}

div.language-ad-example,
div.callout-example {
    .admonition-title::before {
        content: "🗒️";
    }
}

div.language-ad-seealso,
div.callout-seealso {
    .admonition-title::before {
        content: "🖊️";
    }
}

div.language-ad-abstract,
div.callout-abstract {
    .admonition-title::before {
        content: '📚'
    }
}

div.language-ad-summary,
div.callout-summary {
    .admonition-title::before {
        content: '📚'
    }
}

div.language-ad-tldr,
div.callout-tldr {
    .admonition-title::before {
        content: '📚'
    }
}

div.language-ad-todo,
div.callout-todo {
    .admonition-title::before {
        content: '☑️'
    }
}

div.language-ad-hint,
div.callout-hint {
    .admonition-title::before {
        content: '🔥'
    }
}

div.language-ad-success,
div.callout-success {
    .admonition-title::before {
        content: ✅
    }
}

div.language-ad-check,
div.callout-check {
    .admonition-title::before {
        content: '✅'
    }
}

div.language-ad-done,
div.callout-done {
    .admonition-title::before {
        content: '✅'
    }
}

div.language-ad-question,
div.callout-question {
    .admonition-title::before {
        content: '❓'
    }
}

div.language-ad-help,
div.callout-help {
    .admonition-title::before {
        content: '❓'
    }
}

div.language-ad-faq,
div.callout-faq {
    .admonition-title::before {
        content: '❓'
    }
}

div.language-ad-attention,
div.callout-attention {
    .admonition-title::before {
        content: '⚠️'
    }
}

div.language-ad-failure,
div.callout-failure {
    .admonition-title::before {
        content: '❌'
    }
}

div.language-ad-fail,
div.callout-fail {
    .admonition-title::before {
        content: '❌'
    }
}

div.language-ad-missing,
div.callout-missing {
    .admonition-title::before {
        content: '❌'
    }
}

div.language-ad-danger,
div.callout-danger {
    .admonition-title::before {
        content: '⚡'
    }
}

div.language-ad-error,
div.callout-error {
    .admonition-title::before {
        content: '⚡'
    }
}

div.language-ad-bug,
div.callout-bug {
    .admonition-title::before {
        content: '🐞'
    }
}

div.language-ad-quote,
div.callout-quote {
    .admonition-title::before {
        content: '💬'
    }
}

div.language-ad-cite,
div.callout-cite {
    .admonition-title::before {
        content: '💬'
    }
}

***/
